* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calculator__screen {
  background-color: aqua;
  grid-area: 1/1/3/5;
}
.calculator__button--long {
  grid-area: 7/1/8/3;
  background-color: black;
}