body{height: 90vh;}


.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 80vw;
  max-width: 400px;
  height: 80vh;
  padding: 3%;
  margin: 5% auto 5% auto;
  justify-items: center;
  align-items: center;
  position: relative;

  &__screen {
    grid-area: 1/1/3/5;
    padding: 1% 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;


  }



  &__button {
    height: 6vh;
    max-width: 6vh;
    min-width: 6vh;
    border-radius: 50%;
    font-size: 1em;
    justify-content: center;
    line-height: 1em;

    &--long {
      height: 8vh;
      max-width: 16vh;
      min-width: 16vh;
      grid-area: 7/1/8/3;
    }

  }
}

// 3. add the hover for the mouse
// pick the fots 
// pick the symbols
// fix the sizes


hr {
  display: block;
  height: 3px;
  border: 0;
  width: 90%;
  margin: 0 auto;
  border-top: 5px solid white;

}

.footer {
position: absolute;
bottom: 20px;
left:5%;
right: 5%;
width: 90%;
  

  &-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0 5%;
  }



}


a{text-decoration: none;
color: white;
padding:0}


h1{ 
  visibility: hidden;
  color: white;
  font-family: 'Poppins', sans-serif;
position: absolute;
top: 3%;
left: 5%;}

// at 600 or larger this happens
@media only screen and (min-width: 600px) {
  h1 {visibility: visible;
  }
}
